<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Emprestimo</title>
    <link href="../static/css/style.css" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Gerenciador de Livros</h1>
    </header>
    <nav>
        
        <a href="">Cadastrar Usuário</a>
        <a href="">Cadastrar Empréstimo</a>
        <a href="">Cadastrar Livro</a>
        <a href="">Pesquisar Livro</a>
        <a href="">Listar Livros</a>
        
    </nav>
    <main>
        <div class="content">
            <div class="box">
                <div>
                    <h2>Cadastro de Empréstimo</h2>
                </div>
                <form action="">
                    <input type="text" placeholder="UUID do Usuário">
                    <input type="text" placeholder="UUID do Livro">
                    <input type="text" placeholder="Data de Empréstimo">
                    <input type="text" placeholder="Data de Devolução">
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>