<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Página Layout{% endblock %}</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Gerenciador de Tarefas</h1>
    </header>
    <nav>
        
        <a href="">Listar Tarefas</a>
        <a href="">Cadastrar Tarefas</a>
            {% block nav %}{% endblock %}
        
    </nav>
    <main>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <p>© 2025 Tarefas</p>
    </footer>
</body>
</html>